<template>
  <div ref="videoContainer" class="player-wrapper">
    <h1 v-if="title">{{ title }}</h1>
    <video
        id="video"
        ref="videoPlayer"
        width="640"
        :poster="posterUrl"
    />
    <player-controls
        @onPlay="play"
        @onPause="pause"
        @onStop="stop"
        @volumeUnmute="volumeUnmute"
        @volumeMute="volumeMute"
        :currentTime="currentTime"
    />
  </div>
</template>

<script>
import PlayerControls from './PlayerControls'

export default {
  components: {
    PlayerControls
  },
  props: {
    manifestUrl: {
      type: String,
      required: true
    },
    posterUrl: {
      type: String,
    },
    title: {
      type: String,
    }
  },
  data() {
    return {
      currentTime: '00:00',
      timeTracker: undefined
    }
  },
  methods: {
    async initPlayer() {
      const shaka = require('shaka-player/dist/shaka-player.ui.js');
      if (!shaka.Player.isBrowserSupported()) {
        console.error('Browser not supported!');
        return;
      }
      const player = new shaka.Player(this.$refs.videoPlayer);

      shaka.polyfill.installAll()
      await player
          .load(this.manifestUrl)
          .catch(this.onError);

      this.$refs.videoPlayer.addEventListener('play', () => {
        this.timeTracker = setInterval(() => {
          this.currentTime = this.showTimeLine(this.$refs.videoPlayer.currentTime)
        }, 100)
      });

      this.$refs.videoPlayer.addEventListener('pause', () => {
        clearInterval(this.timeTracker);
      });
      
    },
    onError(error) {
      console.error('Error code', error.code, 'object', error);
    },
    play() {
      this.$refs.videoPlayer.play();
    },
    pause() {
      this.$refs.videoPlayer.pause();
    },
    stop() {
      this.$refs.videoPlayer.pause();
      this.$refs.videoPlayer.currentTime = 0;
    },
    volumeUnmute() {
      this.$refs.videoPlayer.muted = false;
    },
    volumeMute() {
      this.$refs.videoPlayer.muted = true;
    },
    showTimeLine(ms) {
      let timenow = ms;
      if (parseInt(timenow) / 60 >= 1) {
        let h = Math.floor(timenow / 3600);
        timenow = timenow - h * 3600;
        let m = Math.floor(timenow / 60);
        let s = Math.floor(timenow % 60);
        if (h.toString().length < 2) {
          h = '0' + h;
        }
        if (m.toString().length < 2) {
          m = '0' + m;
        }
        if (s.toString().length < 2) {
          s = '0' + s;
        }
        return h + ':' + m + ':' + s;
      }

      let m = Math.floor(timenow / 60);
      let s = Math.floor(timenow % 60);
      if (m.toString().length < 2) {
        m = '0' + m;
      }
      if (s.toString().length < 2) {
        s = '0' + s;
      }
      return m + ':' + s;
    }
  },
  mounted() {
    this.initPlayer();
  }
};
</script>

<style scoped>
@import '../../node_modules/shaka-player/dist/controls.css'; /* Shaka player CSS import */
.player-wrapper {
  width: 640px;
  margin: 5rem auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem
}
</style>