<template>
  <div class="player-controls">
    <div>
      {{ currentTime }}
    </div>
    <div>
      <button type="button" @click="$emit('onPlay')">Play!</button>
      <button type="button" @click="$emit('onPause')">Pause</button>
      <button type="button" @click="$emit('onStop')">Stop</button>
    </div>
    <div>
      <button type="button" @click="$emit('volumeMute')">Volume off</button>
      <button type="button" @click="$emit('volumeUnmute')">Volume on</button>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'currentTime'
  ]
};
</script>

<style scoped>
  .player-controls {
    text-align: center;
    margin: 1.5rem 0;
  }
  button {
    margin: .5rem .3rem;
  }
</style>
