<template>
  <player
      title="Some Video"
      manifest-url="https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd"
      poster-url="//shaka-player-demo.appspot.com/assets/poster.jpg"
  />
</template>

<script>
import Player from './components/Player.vue'

export default {
  name: 'App',
  components: {
    Player
  },
}
</script>
